streamlit
langchain-groq
langchain-huggingface
langchain-text-splitters
sentence-transformers
pypdf
python-dotenv
langchain==0.1.20
langchain-core==0.1.52
langchain-community==0.0.38
langchain-chroma==0.1.0
chromadb==0.4.24